/* khai báo biến chứa mã màu */
:root {
  --solid-color: #ced4da;
  --target-color: #dee2e67b;
  --personal-info: #dee2e6a9;
  --text-color: #495057;
  --award-color: #d6c08d;
  --bg-blue: #1c7ed6;
  --bg-blue-100: #90cfed;
  --timeline-icon: #9775fa;
}
* {
  margin: 0px;
  box-sizing: border-box;
}
/* CHỈNH LẠI MÀU CHO VĂN BẢN */
a,
p,
h1 {
  color: var(--text-color);
}

/* tạo class màu nền */
.bg-blue {
  background-color: var(--bg-blue);
}

/* CHỈNH CHO TOÀN BỘ TRANG */
body {
  margin: 0px;
  font-family: sans-serif;
}

/* THUỘC TÍNH CHO CÁC MỤC CONTAINER */

/* THÊM ẢNH VÀ CĂN CHỈNH HEADER  */
header {
  position: relative;
  /* THÊM ẢNH VÀ TẠO MỘT LỚP ĐEN MỜ */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(../images/banner1.png);
  background-size: cover;

  /* để cho hình ảnh căn giữa từ phía trên*/
  background-position: center top;
  height: 60vh;
  width: auto;
}

/*




CĂN CHỈNH THÔNG TIN CÁ NHÂN */
.info-banner {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  color: var(--solid-color);
}

/* CĂN CHINHT THÔNG TIN TIÊU ĐỀ H1  */
.info-banner h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
}

/*



CĂN CHỈNH CHO NAVBAR */
.info-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  border-collapse: collapse;
}

/* TÙY CỈNH THÔNG TIN BÊN TRONG THẺ a */
.info-navbar a {
  /* chỉnh cho thông tin vào chính giữa */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 10%;
}

/* chỉnh thông tin về ảnh đại diện trong navbar */
.nv-name {
  flex-basis: 400px;
  width: 25%;
  border-right: 1px solid var(--target-color);
  padding: 27px 0;
}

/* tùy chỉnh thuộc tính cho ảnh đại diện */
.avatar {
  transform: scale(8);
  z-index: 3;
  width: 30px;
  height: auto;
  border: 3px solid var(--solid-color);
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.info-navbar a:not(:last-child) {
  border-right: 1px solid var(--solid-color);
}
/* tùy chỉnh từng thành phần trong navbar */
.nav {
  flex-basis: 180px;
  font-size: 14px;
  padding: 27px 0;
}

/* 




KHU VỰC CHỈNH THÔNG TIN CÁ NHÂN VÀ MỤC TIÊU NGHÊ NGHIỆP */

/* chỉnh màu của box Mục tiêu nghề nghiệp */
.target {
  background-color: var(--target-color);
}

/* chỉnh title cho hai mục thông tin và mục tiêu */
.section-title {
  padding: 45px 0;
  font-size: 34px;
}

/* căn chỉnh phần Thông tin cá nhân */
.personal-info {
  background-color: var(--personal-info);
}

/* căn chỉnh cho các thông tin bên trong mục THÔNG TIN CÁ NHÂN */
.info {
  list-style-type: none;
  margin: 40px 0;
  line-height: 1.7;
}

/* chỉnh các thuộc tính của icon trong navbar và trong info */
.info i,
.info-navbar i {
  color: var(--bg-blue);
}

/* 




PHẦN TÙY CHỈNH CHO CÁC KINH NGHIỆM - HỌC VẤN - HOẠT ĐỘNG 
              SỞ THÍCH - NGÔN NGỮ - KỸ NĂNG */
/* CĂN CHỈNH CHUNG CHO CÁC MỤC             */

.job-info .card {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

/* Tùy chỉnh thuộc tính cho chữ "Hiện tại" */
.job-info span {
  display: inline-block;
  width: 70px;
  height: 26px;
  border: 2px solid var(--bg-blue);
  background-color: var(--bg-blue);
  text-align: center;
  font-style: italic;
  color: var(--solid-color);
  border-radius: 8px;
}

/* tạo dấu chấm màu xanh đầu khối nhỏ */
.job-info .point::before {
  position: absolute;
  content: "•";
  color: var(--bg-blue);
  font-size: 40px;
  margin: -17px 0 0 -20px;
}

/* đổi màu cho các icon cho phù hợp */
.icon-hoppy i {
  color: var(--solid-color);
}

/* tạo đường tròn bao bên ngoài các icon */
.ic-icon {
  width: 50px;
  height: 50px; /*chỉnh kích thước của hình tròn */
  border-radius: 50%; /*50% để tạo viền thành hình tròn  */
  border: 2px solid var(--bg-blue-100);
  text-align: center; /*căn giữa cho các icon bên trong8*/
  padding-top: 15px; /* căn theo chiều dọc để icon vô giữa*/
}

/* PHẦN CHỈNH THUỘC TÍNH CHO NGÔN NGỮ - KỸ NĂNG */
/* Tạo ba gạch kẻ thể hiện kỹ năng bằng grid */
.level {
  display: grid;
  grid-template-columns: 45px 45px 45px;
  gap: 7px;
  margin: 8px 0 30px;
}

/* hai gạch xanh tương ứng với trình độ đã đạt được */
.level-1,
.level-2 {
  height: 6px;
  background-color: var(--bg-blue);
  border: 1px solid var(--solid-color);

  border-radius: 3px;
}

/* gạch trắng tương ứng với trình độ chưa đạt được */
.level-3 {
  height: 6px;
  background-color: var(--solid-color);
  border: 1px solid var(--solid-color);
  border-radius: 3px;
}

/* 




CĂN CHỈNH SECTION CHỨNG CHỈ GIẢI THƯỞNG */
#certificate {
  background-color: var(--target-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/*### PHẦN TÙY CHỈNH CHO CÁC CHỨNG CHỈ - GIẢI THƯỞNG ###*/

/* CHỈNH CHUNG CHO CÁC CHỨNG CHỈ */
.award-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  /* row-gap: 30px; */
  padding-bottom: 30px;
}

/* ĐỊNH NGHĨA KIỂU HIỂN THỊ CHO TẤT CẢ CÁC BOX */
.award-info,
.aw-3 {
  display: flex;
  margin: 30px 30px 30px 0;
}

/* TẠO ĐƯỜNG KẺ BÊN DƯỚI */
.aw-2,
.aw-1 {
  border-bottom: 2px solid var(--award-color);
}

/* TÙY CHỈNH CHO THÔNG TIN VỀ TÊN CHỨNG CHỈ */
/* chọn tới thẻ p đầu tiên của class aw-info  */
.aw-info p:first-child {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 550;
}

/* CĂN CHỈNH CHO TEXT TRONG BOX  */
.aw-info {
  margin-left: 15px;
  line-height: 1.5;
}

/*
TÙY CHỈNH THUỘC TÍNH CHO CÁC DỰ ÁN*/
.project-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 30px;
  padding-bottom: 30px;
}

/* chỉnh grid cho "Mô tả", "Nhiệm vụ", "Công nghệ" */
.item1,
.item2,
.item3 {
  display: grid;
  grid-template-columns: 25% 75%;
  line-height: 1.5;
}

/* tạo khung cho các thông tin */
/* chọn tất cả thẻ con đầu tiên của project-1,2,3*/
.project-1 > *,
.project-2 > *,
.project-3 > * {
  border-top: 1px solid rgba(128, 128, 128, 0.336);
  border-collapse: collapse;
}

/* chỉnh lại kích thước của hình ảnh minh họa các dự án */
.pj-img {
  padding: 4px;
  width: 100%;
  height: auto;
}

/* chỉnh lại tên của các dự án đã làm */
.pj-name {
  padding: 20px;
  text-transform: uppercase;
}

/* thụt thẻ p của mục pj-time vào 15px cho giống mẫu */
.pj-time {
  padding: 10px 0 15px 25px;
}

.pj-title {
  min-width: 177px;
}
/* chỉnh margin thẻ các thẻ p mục "Mô tả", "Nhiệm vụ", "Công nghệ"  */
.project-box p {
  margin: 10px 0 10px 10px;
}

/* chỉnh số 2021 cho gống mẫu */
/* chọn thẻ con đầu tiên của lớp pj-time */
.pj-time > p:first-child {
  margin-right: 20px;
  width: 70px;
  height: 30px;
  border: 2px solid var(--bg-blue);
  background-color: var(--bg-blue);
  text-align: center;
  padding-top: 5px;
  color: var(--solid-color);
  border-radius: 30px;
}
/*





TÙY CHỈNH THUỘC TÍNH CHO FOOTER */
/* chỉnh khối footer để chứa box bên trong,
cách đáy trang 50px, tô màu */
.footer-contact {
  position: relative;
  margin-bottom: 50px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--target-color);
}

/* chỉnh thông tin bên trong vào giữa footer */
.describe-contrac {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* set lại thuộc tính thẻ a cho phù hợp */
footer a {
  text-decoration: none;
  margin-right: 30px;
}

/* đổi màu icon, tăng kích thước */
footer i {
  color: var(--bg-blue);
  font-size: 30px;
}

/* lớp màu nền trong suốt để ẩn màu card - dùng cho trang digital-cv */
.project-charter .transparent {
  background-color: rgba(0, 0, 0, 0);
}

/* lớp tạo đường kẻ gạch màu xanh dương cho timeline */
.border-custom {
  border-bottom: 2px dotted var(--bg-blue);
}
/* đổi màu icon cho timeline */
.bg-icon {
  background-color: var(--timeline-icon);
}

/* xóa gạch chân cho project */
#project a:link {
  text-decoration: none;
}

/* di chuột qua thì nhảy lên 15px */
#project a:hover {
  transform: translateY(-15px);
}

/* Chỉnh chung cho các dự án(bóng, hiệu ứng, bo góc) */
#project a {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in;
}
/*



chỉnh lại giao diện khi kích thước vượt qua 992px */
@media screen and (min-width: 992px) {
  /* chỉnh thuộc tính cho các chứng chỉ giải thưởng */
  .aw-2 .award-info {
    border-left: 2px solid var(--award-color);
    padding-left: 30px;
  }
  /* CĂN CHỈNH CHO HÌNH ẢNH CHỨNG CHỈ */
  .award-img {
    width: 45%;
  }
  /* set lại kích thước cho ảnh chứng chỉ */
  .award-img img {
    width: 100%;
    height: auto;
  }

  /* căn chỉnh mục thời gian - Funix - nghề */
  /* chỉ áp dụng cho màn hình laptop  và tablet */
  .pj-time {
    display: flex;
    padding-left: 20px;
  }

  /* chỉnh cho "Funix", "Developer" nằm ngang trong giao diện laptop */
  .pj-title {
    display: flex;
    margin-right: 20px;
  }
}
