@media screen and (max-width: 768px) {
  /* set lại navbar thành cột dọc */
  .info-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
  }

  /* bỏ đường viền ô cuối */
  .info-navbar a:not(:last-child) {
    border-right: none;
  }
  .nav {
    padding: 14px;
  }
  /* chỉnh nội dung căn lề trái */
  .info-navbar a {
    padding-left: 10vw;
    display: flex;
    justify-content: flex-start;
    width: auto;
    font-size: 24px;
  }
  /* bỏ ô chứa ảnh */
  .info-navbar a.nv-name {
    display: none;
  }

  /* set nội dung và hình ảnh thành một cột */
  .award-info,
  .aw-3 {
    flex-direction: column;
  }

  /* chứng chỉ giải thưởng hiện thành một cột */
  .award-detail {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-bottom: 30px;
  }

  /* tạo viền gạch chân cho chứng chỉ 3 - chỉ áp dụng cho giao diện mobile */
  .aw-3 {
    border-bottom: 2px solid var(--award-color);
  }
  /* CĂN CHỈNH CHO HÌNH ẢNH CHỨNG CHỈ */
  .award-img img {
    width: 100%;
    height: auto;
  }
  /* tất cả dự án thành một cột */
  .project-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-bottom: 30px;
  }
  .w-11 {
    width: 77px !important;
  }
}
