@media screen and (max-width: 991px) and (min-width: 768px) {
  /* chỉnh lại chiều rộng container */
  .container {
    max-width: 990px;
    margin: auto;
  }

  /* xóa bỏ ảnh đại diện */
  .avatar {
    display: none;
  }
  /* thu nhỏ kích thước ô navbar chứa avatar */
  .nv-name {
    flex-basis: 68px;
    width: 5%;
    border-right: 1px solid var(--solid-color);
    padding: 38px 0;
  }

  /* thêm border thẻ đầu và thẻ a cuối */
  .info-navbar a:first-child {
    border-left: 1px solid var(--solid-color);
  }

  .info-navbar a:last-child {
    border-right: 1px solid var(--solid-color);
  }

  /* set lại chiều cao và thuộc tính của section - about */
  .job-info .row1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1580px;
  }

  /* set up thuộc tính cho các cột của about */
  .job-info .col {
    flex: auto;
    max-width: 50%;
    padding: 14px;
  }

  /* set thuộc tính, chia khối của khối lớn của Chứng chỉ - giải thưởng  */
  .award-detail {
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    padding-bottom: 30px;
  }

  /* class thuộc tính bên trong card từng chứng chỉ */
  .award-info,
  .aw-3 {
    display: block;
    width: 45vw;
  }

  /* CĂN CHỈNH CHO HÌNH ẢNH CHỨNG CHỈ */
  .award-img {
    width: 100%;
  }

  /* chỉnh kích thước cho hình ảnh chứng chỉ */
  .award-img img {
    width: 100%;
    height: auto;
  }
  /* thêm border giữa chứng chỉ 1 và chứng chỉ 2 */
  .aw-2 .award-info {
    border-left: 2px solid var(--award-color);
    padding: 0 30px;
  }

  /* căn chỉnh mục thời gian - Funix - nghề */
  /* chỉ áp dụng cho màn hình laptop  và tablet */
  .pj-time {
    display: flex;
    padding-left: 20px;
  }

  /* custom chiều rộng class width */
  .w-11 {
    width: 77px !important;
  }
}
